body {
    background-color: white;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#mission-content {
    max-width: 700px;
    margin: 50px auto;
    padding: 40px 50px;
    border: 1px solid #000;
}
h1 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
p {
    text-align: center;
    color: #1f5fa8;
    letter-spacing: 2px;
    font-size: 0.9em;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: #1f5fa8;
    word-spacing: 0;
}